/* =============================================================================
   Responsive Base Theme for [ Site Name ]
========================================================================== */

/*  LEGEND

Use this for repeated defaults

*/

/* ------------------------------------
 General Defaults
-------------------------------------*/
body {
    font-size: 100%;
    line-height: 1.5em;
}
/* - Typography Basics - from Gridless http://thatcoolguy.github.com/gridless-boilerplate/ */
h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
}
h1 {
    font-size: 4.25em; /* 68px */
    line-height: 1.1471em;
    margin: 0 0 0.3824em;
}

h2 {
    font-size: 2.625em; /* 42px */
    line-height: 1.2381em;
    margin: 0 0 0.619em;
}

h3 {
    font-size: 1.625em; /* 26px */
    line-height: 1em;
    margin: 0 0 1em;
}
/* end typography basics */

/* responsive images, videos */
img, object, video {
	height: auto;
	max-width: 100%;
}
/* Overrides for Media module to make fitVids work */
.media-youtube-outer-wrapper, .media-youtube-preview-wrapper, .media-vimeo-outer-wrapper, .media-vimeo-preview-wrapper {
    height: auto !important;
    width: auto !important;
}
/* Transition for Media Queries */
div {
    -moz-transition: all .1s;
}
/* ------------------------------------
 Drupal defaults
-------------------------------------*/
.region-aside .block {
    margin-bottom: 10%;
}
.view-content ul {
	padding: 0;
}
.item-list ul li.views-row {
	list-style-type: none;
	margin:0 0 10% 0;
	padding: 0;
	position: relative;
	width: 100%;
}
.menu li {
    display: inline;
}
/* ------------------------------------
 Mobile (default) Layout
-------------------------------------*/
.header, .main-content, .footer {
    margin: 1% auto;
    width: 90%;
}
